@use "./base.scss";

// put your custom CSS here!

// background texture
body {
  mix-blend-mode: darken;
  background-image: url("/static/texture2-25.png");
  background-repeat: repeat-y;
}

[saved-theme=dark] body {
  background-image: none;
  mix-blend-mode: normal;
}

// text wrapping
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p, ul, text, a, tr, td, li, ol, ul {
  text-wrap: pretty;
}

.content-meta {
  font-family: "Caveat";
}
